#buttonLayout {
  border-radius: 25px;
  width: 100%;
  height: auto;

  border-style: solid;
  border-width: 4px;
  border-color: gray;

  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: white;
  font-size: 2.7vw;
  color: black;
}

a {
  text-decoration: none;
  font-family: theBoldFont;
}

/* ####################
   properties per div 
   #################### */

#box {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 15%;
  width: 50%;
  height: 70vh;
  text-align: center;
}

#upper-buttons {
  width: 100%;
  height: 80%;
}

#coursesBox {
  width: 45%;
  height: 100%;
  float: left
}

#teacherBox {
  width: 45%;
  height: 100%;
  float: right;
}

#icon {
  max-width: 100%;
  height: auto;
}


.home {
  /* Selects the element with id "home" */
  display: flex;
  flex-direction: column;
  /* Stack the text and buttons vertically */
  align-items: center;
  /* Horizontally center the text and buttons */
  justify-content: center;
  /* Vertically center the text and buttons */
  /* Sets the background image to the specified URL */
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 750px;
  background-image: url(../pics/SignBackground.jpg);
}



.parent {
  display: flex;
  justify-content: center;
  /* Horizontally center the button */
  align-items: center;
  /* Vertically center the button */
}

.active{
  background-color: #cccccc;
}

.title {
  font-size: 75px;
  color: white;
  font: bold;
  text-shadow: 3px 3px black;
}

.title2 {
  font-size: 55px;
  color: white;
  font: bold;
  text-shadow: 3px 3px black;
}

.button1 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0caedb;
  border: none;
  border-radius: 15px;
  border-color: #fff;
  box-shadow: 0 9px #8b8b8b;
  margin-right: 20px;

}

.button1:hover {
  background-color: white;
  color: black;
}

.button1:active {
  background-color: #0e8fb3;

  transform: translateY(4px);
}