.home1 {
    /* Selects the element with id "home" */
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-image: url(../pics/SignBackground.jpg);
}


.container1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Create four columns of equal width */
    gap: 10px;
    /* Remove spacing between buttons */
    display: flex;
    justify-content: center;
    /* Align buttons horizontally in the center */
    align-items: center;
}

.button1x {
    width: 200px;
    height: 200px;
    background-color: #007bff;
    color: #fff;
    font-size: 50px;
    border: none;
    cursor: pointer;
    margin: 0;
}

.button2x {
    width: 200px;
    height: 200px;
    background-color: #28a745;
    color: #fff;
    font-size: 50px;
    border: none;
    cursor: pointer;
    margin: 0;
}

.button3x {
    width: 200px;
    height: 200px;
    background-color: #ffc107;
    color: #fff;
    font-size: 50px;
    border: none;
    cursor: pointer;
    margin: 0;
}

.button4x {
    width: 200px;
    height: 200px;
    background-color: #dc3545;
    color: #fff;
    font-size: 50px;
    border: none;
    cursor: pointer;
    margin: 0;
}

.button5x {
    width: 200px;
    height: 200px;
    background-color: darkblue;
    color: #fff;
    font-size: 50px;
    border: none;
    cursor: pointer;
    margin: 0;
}

.button6x {
    width: 200px;
    height: 200px;
    background-color: darkgreen;
    color: #fff;
    font-size: 50px;
    border: none;
    cursor: pointer;
    margin: 0;
}

.button7x {
    width: 200px;
    height: 200px;
    background-color: darkorange;
    color: #fff;
    font-size: 50px;
    border: none;
    cursor: pointer;
    margin: 0;
}

.button8x {
    display: inline-block;
    padding: 15px 25px;
    margin-top: 2%;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0caedb;
    border: none;
    border-radius: 15px;
    border-color: #fff;
    box-shadow: 0 9px #8b8b8b;
    margin-right: 20px;
}

.button8x:hover {
    background-color: white;
    color: black;
}

.button8x:active {
    background-color: #0e8fb3;

    transform: translateY(4px);
}


.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}